@model AggregationService.Models.ModelsForView.ResponseMessage;

@{
    ViewData["Title"] = "Error";
}

<h2>Error</h2>

<h4>An Error was occured during the runtime</h4>
@if (Model != null)
{
    <h4>@Html.DisplayFor(model => model.message.ReasonPhrase);</h4>
    <h4>@Html.DisplayFor(model => model.description);</h4>
}
