@model AggregationService.Models.ArtistService.Artist

@{
    ViewData["Title"] = "AddArtist";
}

<h2>AddArtist</h2>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddArtist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="LastFmRating" class="control-label"></label>
                <input asp-for="LastFmRating" class="form-control" />
                <span asp-validation-for="LastFmRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}